@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Quando&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Cabin', serif !important;
}

nav {
  font-family: 'Quando', serif;
}


